<!doctype html>
<html lang="en">

<head>
    <title>Best Moments</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:400,500,700,800|Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
    <!-- start loading -->
    <section class="load">
        <div class="load__content">
            <img src="assets/image/logo.png" alt="">
            <div class="load__circle__lv1">

            </div>
            <div class="load__circle__lv2">

            </div>
            <div class="load__circle__lv3">

            </div>
        </div>
    </section>
    <!-- end loading -->
    <!-- start header -->
    <section class="header">
        <div class="container">
            <div class="header__nav dFlex">
                <ul class="">
                    <li class="li-left active"><a href="">Home</a></li>
                    <li class="li-left"><a href="">Couple</a></li class="li-left">
                    <li class="li-left"><a href="">Story</a></li class="li-left">
                    <li class="li-left"><a href="">Events</a></li class="li-left">
                    <li class="li-left"><a href="">People</a></li>
                    <li class="li-right"><a href="">Rsvp</a></li class="li-left">
                    <li class="li-right"><a href="">Gallery</a></li class="li-left">
                    <li class="li-right"><a href="">Blog</a></li class="li-left">
                    <li class="li-right"><a href="">Location</a></li class="li-left">
                    <li class="li-right"><a href="">Gifts</a></li class="li-left">
                </ul>
                <div class="header__logo">
                    <a href="" class="">
                        <img src="assets/image/logo.png" alt="">
                    </a>
                </div>
                <div class="iconBar">
                    <i class="fa fa-bars"></i>
                </div>
            </div>


        </div>
    </section>
    <!-- end header -->
    <!-- start banner -->
    <div class="banner">
        <!-- <img src="assets/image/home_background.jpg" alt="" class="w-100"> -->
        <div class="banner__text">
            <span class="groom">
                <span>The Groom</span>
            <h1>Nicholas</h1>
            </span>
            <span class="and">  &  </span>
            <span class="bride">
                <span>The Bride</span>
            <h1>Venessa</h1>
            </span>
            <span class="heart">
                Are Getting Married
            </span>
            <h4>16th December, 2016</h4>
        </div>
    </div>
    <!-- end banner -->
    <!-- start couple -->
    <section class="couple">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">The</span>
                <span class="text__pink">Wedding Couple</span class="text__dark">
        </h2>
        <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
                <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
                <div class="couple__thumbnail dFlex">
                    <div class="couple__item">
                        <img src="assets/image/groom_image_circle.png" alt="" class="couple__pic">
                        <div class="couple__detail">
                            <h6 class="couple__tag">The Groom</h6>
                            <h3 class="couple-name">nicholas nic</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,or words don't look even slightly believable.</p>
                            <span class="couple__icon">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-vimeo-square"></i>
                        <i class="fa fa-skype"></i>
                    </span>
                        </div>
                    </div>
                    <div class="couple__heart__plus">
                        <i class="fa fa-heart"></i>
                        <i class="fa fa-plus"></i>
                    </div>
                    <div class="couple__item">
                        <img src="assets/image/bride_image_circle.png" alt="" class="couple__pic">
                        <div class="couple__detail">
                            <h6 class="couple__tag">The Groom</h6>
                            <h3 class="couple-name">nicholas nic</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,or words don't look even slightly believable.</p>
                            <span class="couple__icon">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-vimeo-square"></i>
                        <i class="fa fa-skype"></i>
                    </span>
                        </div>
                    </div>
                </div>
                <a href="" class="button__wedding">our love story</a>
        </div>
    </section>
    <!-- end couple -->
    <!-- start pink-overlay -->
    <section class="pink__overlay">
        <div class="bg__overlay"> </div>
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">Until</span>
                <span class="text__white">Our Big Day</span>
            </h2>
            <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
            <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
            <ul class="countdown dFlex">
                <li>
                    <img src="assets/image/heart-counter.png"><br>
                    <span class="counter__tag">Days</span>
                </li>
                <li>
                    <img src="assets/image/heart-counter.png"><br>
                    <span class="counter__tag">Hours</span>
                </li>
                <li>
                    <img src="assets/image/heart-counter.png"><br>
                    <span class="counter__tag">Minutes
                           
                            </span>
                </li>
                <li>
                    <img src="assets/image/heart-counter.png"> <br>
                    <span class="counter__tag">Seconds</span>
                </li>
            </ul>
        </div>

    </section>
    <!-- end pink-overlay -->
    <!-- love story -->
    <section class="love__story">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">Our</span>
                <span class="text__pink">Love Story</span>
            </h2>
            <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
            <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
            <div class="dFlex">
                <div class="love__story__item">
                    <figure>
                        <img src="assets/image/first_met.jpg" alt="">
                        <div class="love__story__line left">
                            <h3>the first day we met</h3>
                        </div>
                        <div class="love__story__overview">
                            <p class="love__story__date">20 Jan, 2016</p>
                            <p class="love__story__des">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,or words don't look even slightly believable.</p>
                        </div>
                    </figure>
                    <figure>
                        <img src="assets/image/first_dating.jpg" alt="">
                        <div class="love__story__line left">
                            <h3>Our First Dating</h3>
                        </div>
                        <div class="love__story__overview">
                            <p class="love__story__date">28 Apr, 2016</p>
                            <p class="love__story__des">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,or words don't look even slightly believable.</p>
                        </div>
                    </figure>
                </div>
                <div class="love__story__divider dFlex">
                    <div>
                        <img src="assets/image/storyline-divider-up.png" alt="">
                    </div>
                    <div>
                        <img src="assets/image/storyline-divider-01.png" alt="">
                    </div>
                    <div>
                        <img src="assets/image/storyline-divider-02.png" alt="">
                    </div>
                    <div>
                        <img src="assets/image/storyline-divider-down.png" alt="">
                    </div>
                </div>
                <div class="love__story__item">
                    <figure>
                        <div class="love__story__line right">
                            <h3>the first day we met</h3>
                        </div>
                        <div class="love__story__overview">
                            <p class="love__story__date">14 Feb, 2016</p>
                            <p class="love__story__des">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,or words don't look even slightly believable.</p>
                        </div>
                        <img src="assets/image/proposal_day.jpg" alt="">

                    </figure>
                    <figure>
                        <div class="love__story__line right">
                            <h3>the first day we met</h3>
                        </div>
                        <div class="love__story__overview">
                            <p class="love__story__date">14 Feb, 2016</p>
                            <p class="love__story__des">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,or words don't look even slightly believable.</p>
                        </div>
                        <img src="assets/image/engagement.jpg" alt="">

                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- start slide -->
    <section class="testimonial">
        <div class="container">
            <div class="slides dFlex">
                <ul class="slide__button">
                    <li id="next" class="dot active"></li>
                    <li id="prev" class="dot mt-2"></li>
                </ul>
                <div class="slide__content">
                    <div class="slide__list">
                        <div class="slide__item" id="lastslide">
                            <div class="slide__item__top">
                                <p><i class="fa fa-quote-left"></i> There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, slightly believable.There are many variations of
                                    passages of Lorem Ipsum available, There are many variations of passages.
                                </p>
                            </div>
                            <div class="slide__item__bottom">
                                <img src="assets/image/rose_marry.png" />
                                <div>
                                    <h4>Rose Marry</h4>
                                    <p>Bride Best Friend</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide__item">
                            <div class="slide__item__top">
                                <p><i class="fa fa-quote-left"></i> There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, slightly believable.There are many variations of
                                    passages of Lorem Ipsum available, There are many variations of passages.
                                </p>
                            </div>
                            <div class="slide__item__bottom">
                                <img src="assets/image/rose_marry.png" />
                                <div>
                                    <h4>Rose Marry</h4>
                                    <p>Bride Best Friend</p>
                                </div>
                            </div>
                        </div>
                        <div class="slide__item" id="firstslide">
                            <div class="slide__item__top">
                                <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, doloremque autem necessitatibus dolorum est eaque accusamus harum, modi inventore sit odit voluptatum? Voluptatum, ea reiciendis
                                    ducimus odio dolores quis beatae.
                                </p>
                            </div>
                            <div class="slide__item__bottom">
                                <img src="assets/image/rose_marry.png" />
                                <div>
                                    <h4>Rose Marry</h4>
                                    <p>Bride Best Friend</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slide -->
    <!-- end love story -->
    <!-- wedding event -->
    <div class="wedding__event">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">Our</span>
                <span class="text__pink">Wedding Events</span>
            </h2>
            <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
            <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
            <div class="wedding__event__content dFlex">
                <div class="wedding__event__left">
                    <img src="assets/image/wedding_events.jpg" alt="">
                </div>
                <div class="wedding__event__right">
                    <ul class="wedding__event__list">
                        <li>
                            <h3>Engagement</h3>
                            <ul class="wedding__event__info">
                                <li>
                                    <i class="fa fa-calendar"></i>16 april, 2016
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>3pm - 60pm,
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>Elephent Road, Dhaka
                                </li>
                            </ul>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, domised words which slightly believable.</p>
                            <img src="assets/image/events_border.png" alt="">
                        </li>
                    </ul>
                    <ul class="wedding__event__list">
                        <li>
                            <h3>Wedding Ceremony</h3>
                            <ul class="wedding__event__info">
                                <li>
                                    <i class="fa fa-calendar"></i>16 april, 2016
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>3pm - 60pm,
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>Elephent Road, Dhaka
                                </li>
                            </ul>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, domised words which slightly believable.</p>
                            <img src="assets/image/events_border.png" alt="">
                        </li>
                    </ul>
                    <ul class="wedding__event__list">
                        <li>
                            <h3>Wedding Party</h3>
                            <ul class="wedding__event__info">
                                <li>
                                    <i class="fa fa-calendar"></i>16 april, 2016
                                </li>
                                <li>
                                    <i class="fa fa-clock-o"></i>3pm - 60pm,
                                </li>
                                <li>
                                    <i class="fa fa-map-marker"></i>Elephent Road, Dhaka
                                </li>
                            </ul>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, domised words which slightly believable.</p>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end wedding event -->
    <!-- start pink-overlay -->
    <section class="psvp__overlay">
        <div class="bg__overlay"> </div>
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__white">Are You Attending ?</span>
            </h2>
            <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
            <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
            <a href="" class="button__wedding">RSVP now</a>
        </div>
    </section>
    <!-- end pink-overlay -->
    <!-- wedding__people -->
    <section class="wedding__people">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">Important</span>
                <span class="text__pink">People</span>
            </h2>
            <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
            <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
            <div class="wedding__people__list dFlex">
                <div class="wedding__people__item">
                    <a href="index.html">
                        <img src="assets/image/people_01.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
                <div class="wedding__people__item">
                    <a href="">
                        <img src="assets/image/people_02.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
                <div class="wedding__people__item">
                    <a href="">
                        <img src="assets/image/people_03.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
                <div class="wedding__people__item">
                    <a href="">
                        <img src="assets/image/people_04.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
                <div class="wedding__people__item">
                    <a href="">
                        <img src="assets/image/people_05.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
                <div class="wedding__people__item">
                    <a href="">
                        <img src="assets/image/people_06.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
                <div class="wedding__people__item">
                    <a href="">
                        <img src="assets/image/people_07.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
                <div class="wedding__people__item">
                    <a href="">
                        <img src="assets/image/people_08.jpg" alt="">
                    </a>
                    <figcaption>
                        <h3>edward prince</h3>
                        <p>groom father</p>
                    </figcaption>
                </div>
            </div>
        </div>
    </section>
    <!-- end wedding__people -->
    <!-- start contact -->
    <section class="contact">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__white">RSVP</span>
                <span class="text__pink">Now</span>
            </h2>
            <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
            <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
            <div class="wedding__contact">
                <form action="">
                    <div class="form-group dFlex">
                        <div class="inputIcon">
                            <input type="text" placeholder="Your Name">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="inputIcon">
                            <input type="text" placeholder="Your Mail">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>

                    <div class="form-group dFlex">
                        <div class="inputIcon">
                            <select name="" id="">
                                <option value="">2 persons</option>
                                <option value="">3 persons</option>
                                <option value="">4 persons</option>
                                <option value="">5 persons</option>
                            </select>
                            <i class="fa fa-asterisk"></i>
                        </div>
                        <div class="inputIcon">
                            <select name="" id="">
                                <option value="">social hours</option>
                                <option value="">ceremony</option>
                                <option value="">dinner</option>
                                <option value="">cake cutting</option>
                            </select>
                            <i class="fa fa-user-plus"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="textareaIcon">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Write Your Note" class="w-100"></textarea>
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                </form>
            </div>
            <a href="" class="button__wedding">i am attending</a>
        </div>
    </section>
    <!-- end contact -->
    <!-- start gallery -->
    <section class="gallery">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">Photo</span>
                <span class="text__pink">Gallery</span>
            </h2>
            <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
            <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
            <div class="gallery__list dFlex">
                <div class="gallery__item">
                    <div class="gallery__item__top">
                        <img src="assets/image/photo_gallery_01.jpg" alt="">
                        <div class="gallery__layer">
                            <div class="gallery__icon">
                                <i class="fa fa-heart"></i>
                                <span>25</span>
                            </div>
                            <div class="gallery__figcap">
                                <h4>cake cutting ceremony</h4>
                                <p>
                                    <i class="fa fa-tag"></i>Our wedding cake
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="gallery__item__bottom">
                        <img src="assets/image/photo_gallery_02.jpg" alt="">
                        <div class="gallery__layer">
                            <div class="gallery__icon">
                                <i class="fa fa-heart"></i>
                                <span>25</span>
                            </div>
                            <div class="gallery__figcap">
                                <h4>cake cutting ceremony</h4>
                                <p>
                                    <i class="fa fa-tag"></i>Our wedding cake
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item__top">
                        <img src="assets/image/photo_gallery_03.jpg" alt="">
                        <div class="gallery__layer">
                            <div class="gallery__icon">
                                <i class="fa fa-heart"></i>
                                <span>25</span>
                            </div>
                            <div class="gallery__figcap">
                                <h4>cake cutting ceremony</h4>
                                <p>
                                    <i class="fa fa-tag"></i>Our wedding cake
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="gallery__item__bottom">
                        <img src="assets/image/photo_gallery_04.jpg" alt="">
                        <div class="gallery__layer">
                            <div class="gallery__icon">
                                <i class="fa fa-heart"></i>
                                <span>25</span>
                            </div>
                            <div class="gallery__figcap">
                                <h4>cake cutting ceremony</h4>
                                <p>
                                    <i class="fa fa-tag"></i>Our wedding cake
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery__item">
                    <div class="gallery__item__top">
                        <img src="assets/image/photo_gallery_05.jpg" alt="">
                        <div class="gallery__layer">
                            <div class="gallery__icon">
                                <i class="fa fa-heart"></i>
                                <span>25</span>
                            </div>
                            <div class="gallery__figcap">
                                <h4>cake cutting ceremony</h4>
                                <p>
                                    <i class="fa fa-tag"></i>Our wedding cake
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="gallery__item__bottom">
                        <img src="assets/image/photo_gallery_06.jpg" alt="">
                        <div class="gallery__layer">
                            <div class="gallery__icon">
                                <i class="fa fa-heart"></i>
                                <span>25</span>
                            </div>
                            <div class="gallery__figcap">
                                <h4>cake cutting ceremony</h4>
                                <p>
                                    <i class="fa fa-tag"></i>Our wedding cake
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end gallery -->
    <!-- start blog -->
    <section class="blog">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">Our</span>
                <span class="text__pink">Blog</span class="text__dark">
        </h2>
        <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
                <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
                <div class="blog__list dFlex">
                    <div class="blog__item">
                        <div class="blog__img">
                            <img src="assets/image/from_blog_01.jpg" alt="">
                            <div class="blog__img__layer">
                                <h5>Oh my sweet heart</h5>
                                <ul class="dFlex">
                                    <li>
                                        <i class="fa fa-user"></i>by romeo
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar"></i>18 june 2016
                                    </li>
                                    <li>
                                        <i class="fa fa-commenting"></i>14
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__text">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, many variations of passages .</p>
                            <h4>Read More</h4>
                        </div>
                    </div>
                    <div class="blog__item">
                        <div class="blog__img">
                            <img src="assets/image/from_blog_02.jpg" alt="">
                            <div class="blog__img__layer">
                                <h5>Oh my sweet heart</h5>
                                <ul class="dFlex">
                                    <li>
                                        <i class="fa fa-user"></i>by romeo
                                    </li>
                                    <li>
                                        <i class="fa fa-calender"></i>18 june 2016
                                    </li>
                                    <li>
                                        <i class="fa fa-commenting"></i>14
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__text">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, many variations of passages .</p>
                            <h4>Read More</h4>
                        </div>
                    </div>
                    <div class="blog__item">
                        <div class="blog__img">
                            <img src="assets/image/from_blog_03.jpg" alt="">
                            <div class="blog__img__layer">
                                <h5>Oh my sweet heart</h5>
                                <ul class="dFlex">
                                    <li>
                                        <i class="fa fa-user"></i>by romeo
                                    </li>
                                    <li>
                                        <i class="fa fa-calender"></i>18 june 2016
                                    </li>
                                    <li>
                                        <i class="fa fa-commenting"></i>14
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog__text">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour, many variations of passages .</p>
                            <h4>Read More</h4>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!-- end blog -->
    <!-- start location -->
    <section class="location">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">WEDDING</span>
                <span class="text__pink">Location</span class="text__dark">
        </h2>
        <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
                <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
                <div class="contact__info dFlex">
                    <div class="contact__info__detail">
                        <p>
                            <i class="fa fa-map-marker icon-left mr-2"></i>Address
                        </p>
                        <p>
                            Elephent Road, Dhaka 1205, Bangladesh
                        </p>
                    </div>
                    <div class="contact__info__detail">
                        <p>
                            <i class="fa fa-map-marker icon-left mr-2"></i>Phone
                        </p>
                        <p>
                            Elephent Road, Dhaka 1205, Bangladesh
                        </p>
                    </div>
                    <div class="contact__info__detail">
                        <p>
                            <i class="fa fa-map-marker icon-left mr-2"></i>Mail
                        </p>
                        <p>
                            Elephent Road, Dhaka 1205, Bangladesh
                        </p>
                    </div>
                </div>
        </div>
    </section>
    <!-- end location -->
    <!-- start auto slide -->
    <section class="auto__slide">
        <div class="container text-center">
            <h2 class="couple__section__title">
                <span class="text__dark">Gift</span>
                <span class="text__pink">Registration</span class="text__dark">
        </h2>
        <span class="heart">
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
            <i class="fa fa-heart"></i>
        </span>
                <p class="couple__section__tagline">Phasellus laoreet finibus nisl, in auctor mauris placerat ut. Nunc dui ante, lacinia id magna id, luctus aliquam arcu.</p>
                <div class="slides__auto dFlex">
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_01.png" alt="">
                    </div>
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_02.png" alt="">
                    </div>
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_03.png" alt="">
                    </div>
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_04.png" alt="">
                    </div>
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_04.png" alt="">
                    </div>
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_03.png" alt="">
                    </div>
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_02.png" alt="">
                    </div>
                    <div class="slide__auto__item">
                        <img src="assets/image/gift_01.png" alt="">
                    </div>
                </div>
        </div>
    </section>
    <!-- end auto slide -->
    <!-- footer -->
    <footer>
        <div class="footer__logo">
            <img src="assets/image/footer_logo.png" alt="">
        </div>
        <div class="footer__copyright">
            <span class="text__white">Copyright © 2016 The Best Moments - Mordern Wedding Site Template developed by</span>
            <span class="text__pink">3jon</span>
        </div>
    </footer>
    <!-- end footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>